.about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.about_image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

.about_image-container img {
    margin-top: 4rem;
}

.about_title-container {
    margin-bottom: 2rem;
}

.about_title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.about_subtitle {
    font-size: 1rem;
}

.about_lines-container_firstLine,
.about_lines-container_secondLine {
    height: 3px;
    width: 6rem;
    background-color: aliceblue;
    margin: 0.8rem 0;
}

.about_lines-container_secondLine {
    margin-left: 3rem;
}

.about_button {
    border-radius: 5px;
    padding: 7px 7px;
    color: #fff;
    background-color: rgb(255, 0, 149);
    margin-right: 8px;
    font-size: 0.8rem;
    margin-top: 1rem;
    border-style: none;
    letter-spacing: 4px;
    font-family: Gothic;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .about_title {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .about_subtitle {
        font-size: 2rem;
    }

    .about_lines-container_firstLine,
    .about_lines-container_secondLine {
        width: 15rem;
        margin: 1rem 0;
    }

    .about_button {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .about_lines-container_secondLine {
        margin-left: 4rem;
    }
}

@media screen and (min-width: 1000px) {
    .about-container {
        display: flex;
        flex-direction: row;
    }

    .about_image-container {
        order: 1;
        width: 45%;
        margin-right: 0rem;
    }

    .about_image-container img {
        margin: 0 auto;

    }

    .about_title-container {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .about_title {
        margin-bottom: 0;
    }

    .about_subtitle {
        font-size: 1.7rem;
    }

    .about_lines-container_firstLine,
    .about_lines-container_secondLine {
        width: 10rem;
        margin: 1rem 0;
    }

    .about_button {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .about_lines-container_secondLine {
        margin-left: 4rem;
    }
}

/* @media screen and (min-width: 1200px) {
} */

@media screen and (min-width: 1900px) {
    .about_image-container {
        max-width: 600px;
    }

    .about_title-container {
        margin-bottom: 4rem;
    }

    .about_title {
        font-size: 6rem;
    }

    .about_subtitle {
        font-size: 2.7rem;
    }

    .about_lines-container_firstLine,
    .about_lines-container_secondLine {
        width: 13rem;
    }
}